h1::first-letter{
    color: red;
}
p::first-line{
    color: pink;
}
p::selection{
    color: red;
    background-color: purple;
    text-decoration: dashed;
}
h1::after{
    content: url(//unsplash.it/32/32);
}
p::before{
    content: url(//unsplash.it/32/32);
    
}
textarea::placeholder {
    color: red;
  }
h4::selection{

    cursor: help;
}